<div class="post-preview">
  <%= link_to(post_path(post)) do %>
    <h2 class="post-title"><%= post.title %></h2>
    <h3 class="post-subtitle"><%= post.meta_description %></h3>
  <% end %>
  <p class="post-meta">
    Posted by
    <a href="#!"><%= post.author_name %></a>
    on <%= l(post.published_at, format: :short) %>
    </p>
</div>
<!-- Divider-->
<hr class="my-4" />
